* text=auto eol=lf

# Only include the addons and example folders when downloading from the Asset Library.
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
/example    !export-ignore
/example/**    !export-ignore
